{% extends "dashboard/base.html" %}

{% block title %}Modifier Mot de Passe{% endblock %}

{% block content %}

<h1>Changement de mot de passe pour  {{user.username}} </h1>
<br><br/>


<ul>
  <li>Votre mot de passe ne doit pas etre trop simulaire à vos autres informations personnelles </li>

  <li>Votre mot de passe ne doit contenir au moins 8 caractères </li>

  <li>Votre mot de passe ne doit pas etre trop commun </li>

  <li>Votre mot de passe ne doit pas etre entièrement numérique </li>


</ul>

<div class="form-group">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Changer</button>
</form>

</div>
{% endblock %}
