{% extends "dashboard/base.html" %}
{% block content %}
<h1>Confirmer la réinitialisation du mot de passe</h1>
<p>Veuillez entrer votre nouveau mot de passe.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Confirmer</button>
</form>

<ul>
  <li>Votre mot de passe ne doit pas etre trop simulaire à vos autres informations personnelles </li>

  <li>Votre mot de passe ne doit contenir au moins 8 caractères </li>

  <li>Votre mot de passe ne doit pas etre trop commun </li>

  <li>Votre mot de passe ne doit pas etre entièrement numérique </li>


</ul>
{% endblock %}
