{% extends "dashboard/base.html" %}

{% block title %}Email Reinitialiser Mot de Oasse{% endblock %}

{% block content %}
  <h2>Mail Envoyé</h2>
  <p>Nous avons envoyé un message avec le lien pour la reinitialisation de votre mot de passe. Veillez Verifier vos mails</p>
{% endblock %}




<style>
  /* Style du titre */
h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Style du paragraphe */
p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

/* Style du conteneur principal */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style du corps du message */
.message {
  margin-bottom: 20px;
}

/* Style du lien */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
</style>